api_address:
  protocol: http
  host: localhost
  port: 80
  path: /
#  query:
#    id: 1
method:
  type: post
  form_body:
    username:
      - zy
    password:
      - 123456
  content_type: application/x-www-form-urlencoded
#  json_body:
#    username: zy
#    password: 123456
#  content_type: application/json
test:
  times: 1
  threads: 1